node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.development.local
.env.test.local
.env.production.local
next.config.js
next.config.js.sample
next.config.js.sample.ts
next.config.js.ts
next.lock
out
static
next.sass
next.sass.ts
next.sass.ts.sample
next.sass.sample